@import url("https://fonts.googleapis.com/css2?family=Gaegu:wght@300;400;700&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

.gaegu-light {
    font-family: "Gaegu", sans-serif;
    font-weight: 300;
    font-style: normal;
}

.gaegu-regular {
    font-family: "Gaegu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.gaegu-bold {
    font-family: "Gaegu", sans-serif;
    font-weight: 700;
    font-style: normal;
}
